body {
	background-color: #fffefe;
	height: 1000px;
}

/*************** LAYOUT ***************/

header {
	position: relative;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 130px;
	margin-bottom: -10px;
	background-color: #fffefe;
	/* Background pattern from transparenttextures.com */
	background-image: url("../img/fresh-snow.png");
}

.nav {
	background-color: #fffefe;
	position: relative;
	z-index: 1;
	top: 0;
	left: 12%;
	width: 130px;
	height: 240px;
	/* Background pattern from transparenttextures.com */
	background-image: url("../img/fresh-snow.png");
}

.wrapper_home,
.wrapper_about,
.wrapper_contact {
	position: relative;
	z-index: 0;
	top: -240px;
	width: 100%;
	height: 2000px;
	/* Background pattern from transparenttextures.com */
	background-image: url("../img/asfalt-light.png");
}

.wrapper_home {
	background-color: red;
}

.wrapper_about {
	background-color: blue;
}

.wrapper_contact {
	background-color: #d3d3d3;
}

/*************** NAV ***************/

.nav ul {
	list-style-type: none;
	margin-top: 10px;
	padding-left: 20px;
}

.nav li {
	padding-bottom: 10px;
}

.nav a {
	text-decoration: none;
	color: #2c3840;
	text-align: left;
	font-size: 1.2em;
}

/*************** LINKS ***************/

a:link,
a:visited {
	text-decoration: none;
}

a:focus {
	background: #d3d3d3;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
}

/****/
